@import '../config.scss';

.button {
  border: 2px solid $accent;
  padding: 10px 40px;
  background: $accent;
  color: $textLight;
  border-radius: $radius;
  cursor: pointer;
}

.button:hover {
  border: 2px solid white;
}