.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.input {
  resize: none;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 25px;
  padding: 10px;
  min-width: 400px;
  @media screen and (max-width: 600px) {
    min-width: 300px;
  }
  @media screen and (max-width: 365px) {
    min-width: 250px;
  }
}