@import '../config.scss';

.button {
  height: auto;
  z-index: 2;
  background: transparent;
  border: none;
  padding-left: 25px;
  padding-right: 5px;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.buttonPressed {
  @extend .button;
}

.line {
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 3px;
  display: block;
  background: $secondary;
}

.line:nth-child(2), .line:nth-child(3) {
  margin-top: 4px;
}

.buttonPressed .line:nth-child(1) {
  background: $light;
  transform: translateY(7px) rotate(45deg);
}

.buttonPressed .line:nth-child(2) {
  background: $light;
  opacity: 0;
}

.buttonPressed .line:nth-child(3) {
  background: $light;
  transform: translateY(-7px) rotate(-45deg);
}