@import '../config.scss';

.title {
  background-image: linear-gradient(50deg, $accent, $primary);
  background-repeat: no-repeat;
  background-size: 100% .15em;
  background-position: 0 88%;
  display: inline;
}