.button {
  animation-name: vibration;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes vibration {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}