.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px 25px 0px 25px;
}

.buttonContainer {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}