header {
  height: 10vh;
  display: flex;
  flex-direction: row;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desktopImg {
  @media screen and (max-width: 700px) {
    display: none !important;
  }
}

.mobileImg {
  @media screen and (min-width: 700px) {
    display: none !important;
  }
}
