@import '../config.scss';

.iconsContainer {
  display: flex;
  flex-direction: row;
}

.icon {
  cursor: pointer;
  color: $primary;
  font-size: 25px;
}

.iconMargin {
  @extend .icon;
  margin-right: 40px;
}

.icon:hover {
  color: $accent;
}

.mail {
  text-align: center;
  cursor: pointer;
}