.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  margin-bottom: 25px;
}

.map {
  margin: 0px 25px 25px 25px;
  border-radius: 25px;
  overflow: hidden;
  width: 400px;
  height: 390px;
  @media screen and (max-width: 600px) {
    width: 300px;
  }
  @media screen and (max-width: 365px) {
    width: 250px;
  }
}

.phone {
  margin-bottom: 25px;
}