.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  @media screen and (max-width: 700px) {
    max-width: 80vh;
  }
}

.subtitle {
  padding: 25px 25px 0px 25px;
  text-align: center;
}

.description {
  text-align: center;
  padding: 0px 25px 25px 25px;
}