@import '../config.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 12.5px 12.5px 12.5px 12.5px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  @media screen and (max-width: 350px) {
    width: 250px;
  }
}

.container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image {
  max-width: 100%;
  height: 30%;
  object-fit: contain;
}

.description {
  height: 30%;
  padding: 25px 0px 0px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-align: center;
}

.link {
  color: $accent;
}

.link:hover {
  font-weight: bold;
}