@import '../config.scss';

.menu {
  display: none;
}

.menuOpened {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  top: 0vh;
}

@keyframes grow {
  from {
    top: -100vh;
  }
  to {
    top: 0vh;
  }
}

.menuClosed {
  display: none;
}

.menuItemContainer {
  color: $light;
  padding: 10px 40px;
}
