* {
  padding: 0px;
  margin: 0px;
  outline: 0;
}

img, embed, object, video {
  max-width: 100%;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../assets/fonts/MuseoSans-300.woff2') format('woff2'),
      url('../assets/fonts/MuseoSans-300.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}