.container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  @media screen and (max-width: 700px) {
    min-height: 70vh;
  }
}

.footer {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 25px 25px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
  }
}