.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media screen and (max-width: 670px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}